.todoApp {
  background-color: var(--bg-card);
  color: var(--text-primary);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 550px;
  transition: var(--transition);
  position: relative;
}

.title {
  text-align: center;
  color: var(--text-primary);
  margin-bottom: 20px;
}

/* Элементы управления в шапке (поиск, фильтр, переключатель) */
.searchContainer {
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
  align-items: center;
}

.searchInput {
  flex-grow: 1;
  padding: 12px 16px;
  border: 1px solid var(--border-color);
  background-color: var(--bg-input);
  color: var(--text-primary);
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.2s;
}

.searchInput:focus {
  border-color: var(--accent);
}

.filterSelect {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1.5px solid var(--accent);
  background-color: var(--bg-card); /* Фон как у карточки */
  color: var(--accent); /* Текст фиолетовый */
  cursor: pointer;
  outline: none;
  font-size: large;
}

.modeToggle {
  min-width: 45px;
  height: 45px;
  padding: 0;
  border-radius: 8px;
}

/* Стили для списка задач */
.taskList {
  list-style: none;
  padding: 0;
}

.taskItem {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid var(--border-color);
  justify-content: space-between;
}

.taskItem:last-child {
  border-bottom: none;
}

.taskItem input[type='checkbox'] {
  margin-right: 15px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  accent-color: #6a0dad;
}

.taskItem label {
  flex-grow: 1;
  cursor: pointer;
  color: var(--text-primary);
}

.taskItem.completed label {
  text-decoration: line-through;
  color: var(--text-secondary);
}

/* Кнопка добавления */

.floatingAddBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 32px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--accent);
  color: #fff;
  box-shadow: 0 8px 20px rgba(106, 13, 173, 0.4);
  border: none;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floatingAddBtn:hover {
  transform: scale(1.1) rotate(90deg); /* Крутой эффект при наведении */
  background-color: var(--accent-hover);
}
